@page {
	margin-bottom: 2cm;	
}

body{
	width: 21cm;
	height: 29.7cm;
	margin: 0cm;
	padding-bottom: 2cm;
	padding-left: 2cm;
	padding-right: 1.7cm;
	padding-top: 2cm;
}

table.Logo th {
	font-size: xx-large;
	padding: 0.1cm;
	padding-left: 0.2cm;
}
table.Logo {
	margin-rigth: 10cm;
	text-align: center;
	font-size: large;
	width: auto;
	border: 0;
}
table.Logo td {
	font-size: small;
	padding: 0;
	padding-left: 0.1cm;
}

table.Customer {
	width: 8.5cm;
	padding: 0;
	margin-left: 12.5cm;
	margin-bottom:.5cm;
	margin-top: .1cm;
	text-align: left;
	border: 0;
	border-collapse: collapse;
}
table.Customer td{
	width: 100%;
	padding: 0.1cm;
	margin: 0;
	text-align: left;
	border: 0;
}

.sheetID {
	font-size: x-large;
	font-weight: bold;
}
.rowID {
	font-weight: bold;
}

table.InvoiceDetails {
	width: 100%;
	padding: 0;
	margin-top: 0.2cm;
	margin-bottom: 0.2cm;
	text-align: left;
	border-collapse: collapse;
}
.CNo { 
	width: 3.5cm;
	padding-left: 0.2cm;
	padding-right: 0.2cm;
	padding-top: 0.1cm;
	padding-bottom: 0.1cm;
	border: 1px solid black;
	}
.CCod {
	width: 1.5cm;
	text-align: right;
	padding-right: .2cm;
	padding-left: 0.2cm;
	padding-right: 0.2cm;
	padding-top: 0.1cm;
	padding-bottom: 0.1cm;
	border: 1px solid black;
}
.Empty { 
	width: 6cm;
	border-top: 0; 
	border-bottom: 0;
	padding-left: 0.2cm;
	padding-right: 0.2cm;
	padding-top: 0.1cm;
	padding-bottom: 0.1cm;
}
.INo { 
	width:2.2cm;
	padding-left: 0.2cm;
	padding-right: 0.2cm;
	padding-top: 0.1cm;
	padding-bottom: 0.1cm;
	border: 1px solid black;
}
.ICod { 
	width: 1.5cm;
	text-align: right;
	padding-right: 2%;
	padding-left: 0.2cm;
	padding-right: 0.2cm;
	padding-top: 0.1cm;
	padding-bottom: 0.1cm;
	border: 1px solid black;
}
.IDat {
	width: 1.2cm;
	padding-left: 0.2cm;
	padding-right: 0.2cm;
	padding-top: 0.1cm;
	padding-bottom: 0.1cm;
	border: 1px solid black;
}
.IDate {
	width: 2cm;
	text-align: right; 
	padding-right: 2%;	
	padding-left: 0.2cm;
	padding-right: 0.2cm;
	padding-top: 0.1cm;
	padding-bottom: 0.1cm;
	border: 1px solid black;
}

.products {
	text-align: left;
	border: 1px solid black;
	width: 100%;
	border-collapse: collapse;
	page-break-inside: auto;
}
.products thead {
	display: table-header-group;
}
.products th{
	border: 1px solid black;
	height: 1cm;
	text-align: center;
}
.products td {
	border-bottom: 0;
	border-top: 0;
	border-left: 1px solid black;
	border-rigth: 1px solid black;
	height: 0.75cm;
}
.Number {
	text-align: right;
	padding-right: 2%;
}
.Unit {
	text-align: center;
}
.PCode {width: 3cm;}
.PDesc {width: 7cm;}
.PUn {width: 1cm;}
.PQuan {width: 1.5cm;}
.PriUnit {width: 2cm;}
.PTax {width: .5cm;}
.PPri {width: 2.5cm;}

table.Result th {
	font-size: large;
	border: 1px solid ;
}
table.Result {
	margin-left: 70%;
	margin-top: 4%;
	margin-bottom:8%;
	text-align: center;
	font-size: large;
	width: 30%;
	border: 1px solid;
	border-collapse: collapse;	
}
table.Result td{
	border: 1px solid;	
}


.Articles {
	font-size: large;
	font-weight: bold;
}

td {
	padding: 0.2cm;
}

p {
	display: inline;
	line-height: 0.7cm;	
}
