

html {
}

body{
	background-image:url('fundo3.png');
	background-size: 80%;
	background-size: 80%;
	background-size: 80%;
	background-size: 80%;
	background-attachment:fixed;
	background-repeat:repeat-y;
	background-position:center center;
	background-color:#000;
	margin-left: auto;
    margin-right: auto;
	background-color:white;
	width:70%;
}

form#logform{
	display:inline!important;
}

form#logform input
{
	display:inline;
	width: 8em;
}
ul
{
list-style-type:none;
margin:0;
padding:0;
}
li
{
display:inline;
margin-left: 1%;
}

#topmenu{
	position:absolute;
	width:100%;
	top:0;
	left:0;
	background-color:#ccc;
	opacity: 0.9;	
}

#topmenu *{
	display:inline;
}

.bySearch
{
	margin-top: 25%;
	margin-left: 15%;
	font-weight: 900;
	color: white;
	width:500px;
		
}

#button input
{

	width:120px;
	margin-left:100px;
	margin-top: 10%;
	display:block;

}

