
html {
}

body{
	background-image:url('image.png');
	background-size: 60%;
	background-size: 60%;
	background-size: 60%;
	background-size: 60%;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:center center;
	background-color:#000;
	margin-left: auto;
    margin-right: auto;
	background-color:white;
	width:70%;
}

form{
	display:inline!important;
}

form input
{
	display:inline;
	width: 8em;
}
ul
{
list-style-type:none;
margin:0;
padding:0;
}
li
{
display:inline;
margin-left: 1%;
}

#topmenu{
	position:absolute;
	width:100%;
	top:0;
	left:0;
	background-color:#ccc;
	opacity: 0.9;
	
}
#topM
