

html {
}

body{
	background-image:url('fundo12.png');
	background-size: 80%;
	background-size: 80%;
	background-size: 85%;
	background-size: 85%;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:center center;
	background-color:#000;
	margin-left: auto;
	margin-right: auto;
	background-color:black;
	width:70%;
}

form#logform{
	display:inline!important;
}

form#logform input
{
	display:inline;
	width: 8em;
}
ul
{
	list-style-type:none;
	margin:0;
	padding:0;
}
li
{
	display:inline;
	margin-left: 1%;
}

#topmenu{
	position:absolute;
	width:100%;
	top:0;
	left:0;
	background-color:#ccc;
	opacity: 0.9;	
}

#topmenu *{
	display:inline;
}

.bySearch
{
	margin-top: 15%;
	margin-left: 15%;
	font-weight: 900;
	color: white;
	width:600px;

}

h2
{
	color: white;
	width:175px;
}

input[id="search_button"]
{
	width: 100px;
	margin-left: 150px;
	margin-top: 20px;
}

input[id="save_edit"]
{
	width: 100px;
	margin-left: 250px;
	margin-top: 20px;
}


#search_results_div
{
	text-align: center;
	margin-top: 30px;
	margin-left: 5px;
	background-color:black;
	opacity: 0.7;
	color:white;
}


table,th
{
	border:30px solid black;
	text-align:center;
}


td:nth-child(2)
{
	text-align: left;
	padding-left: 20px;
}


#PostalCode1
{
	float: left;
}


label 
{
	color: white;
	font-weight: bold;
	display: block;
	width: 150px;
	float: left;
}